@charset "UTF-8";
/**
 * @author  :   lyc
 * @created :   2017/07/14
 * @version :   v1.0
 * @desc    :   系统共有css文件,主要定义了系统背景颜色，默认element ui 相关样式，公用文章列表样式
 */
/**
 * @author  :   lyc
 * @created :   2017/07/14
 * @version :   v1.0
 * @desc    :   主要是定义了系统样式的变量
 */
/* @article list 样式变量
----------------------------------------------------------------*/
/**
 * @author  :   lyc
 * @created :   2017/07/14
 * @version :   v1.0
 * @desc    :   主要是定义了系统中所用背景图片的样式
 */
.news-logo {
  background: url("../../src/assets/img/news.png") no-repeat; }

.weibo-logo {
  background: url("../../src/assets/img/weibo.png") no-repeat; }

.bbs-logo {
  background: url("../../src/assets/img/bbs.png") no-repeat; }

.bar-logo {
  background: url("../../src/assets/img/bar.png") no-repeat; }

.neu-logo {
  background: url("../../src/assets/img/neu.png") no-repeat; }

.neg-logo {
  background: url("../../src/assets/img/neg.png") no-repeat; }

.pos-logo {
  background: url("../../src/assets/img/pos.png") no-repeat; }

.comment-logo {
  background: url("../../src/assets/img/pl.svg"); }

.accident-logo {
  background: url("../../src/assets/img/accidents.svg"); }

.article-more {
  background: url("../../src/assets/img/more.png") no-repeat; }

.create-btn {
  background: url("../../src/assets/img/button.png") no-repeat; }

/* @body 页面设置
----------------------------------------------------------------*/
body {
  background-color: #071f47;
  margin: 0 auto;
  overflow-x: hidden;
  overflow-y: hidden;
  color: #fff;
  font-family: 微软雅黑; }

/* @element-ui 样式设置
----------------------------------------------------------------*/
.el-row {
  margin-bottom: 0px; }
  .el-row:last-child {
    margin-bottom: 0; }

/* 设置默认的card style */
.el-card {
  border: none;
  border-radius: 5px;
  background: #022373;
  margin-bottom: 15px; }
  .el-card .chart-header {
    width: 31.8%;
    height: 40px;
    text-align: center;
    left: 7px;
    top: 1px;
    position: absolute;
    background: -webkit-linear-gradient(90deg, #06297e, #123d9f, #103998, #0a2f88);
    background: -o-linear-gradient(90deg, #06297e, #123d9f, #103998, #0a2f88);
    background: -moz-linear-gradient(90deg, #06297e, #123d9f, #103998, #0a2f88);
    background: linear-gradient(90deg, #06297e, #123d9f, #103998, #0a2f88);
    border-top: 2px solid;
    border-bottom: 2px solid;
    border-image: -webkit-linear-gradient(90deg, #022272, #3168e6, #022272) 30 30;
    border-image: -moz-linear-gradient(90deg, #022272, #3168e6, #022272) 30 30;
    border-image: linear-gradient(90deg, #022272, #3168e6, #022272) 30 30; }
  .el-card .chart-header-width {
    width: 65%;
    height: 40px;
    right: 0.5%;
    top: 1px;
    position: absolute;
    background: -webkit-linear-gradient(90deg, #06297e, #123d9f, #103998, #0a2f88);
    background: -o-linear-gradient(90deg, #06297e, #123d9f, #103998, #0a2f88);
    background: -moz-linear-gradient(90deg, #06297e, #123d9f, #103998, #0a2f88);
    background: linear-gradient(90deg, #06297e, #123d9f, #103998, #0a2f88);
    border-top: 2px solid;
    border-bottom: 2px solid;
    border-image: -webkit-linear-gradient(90deg, #022272, #3168e6, #022272) 30 30;
    border-image: -moz-linear-gradient(90deg, #022272, #3168e6, #022272) 30 30;
    border-image: linear-gradient(90deg, #022272, #3168e6, #022272) 30 30; }
  .el-card .chart-header-ztwidth {
    width: 65%;
    height: 40px;
    left: 7px;
    top: 1px;
    position: absolute;
    background: -webkit-linear-gradient(90deg, #06297e, #123d9f, #103998, #0a2f88);
    background: -o-linear-gradient(90deg, #06297e, #123d9f, #103998, #0a2f88);
    background: -moz-linear-gradient(90deg, #06297e, #123d9f, #103998, #0a2f88);
    background: linear-gradient(90deg, #06297e, #123d9f, #103998, #0a2f88);
    border-top: 2px solid;
    border-bottom: 2px solid;
    border-image: -webkit-linear-gradient(90deg, #022272, #3168e6, #022272) 30 30;
    border-image: -moz-linear-gradient(90deg, #022272, #3168e6, #022272) 30 30;
    border-image: linear-gradient(90deg, #022272, #3168e6, #022272) 30 30; }
  .el-card .chart-header-ztfwidth {
    width: 31.8%;
    height: 40px;
    text-align: center;
    right: 0.5%;
    top: 1px;
    position: absolute;
    background: -webkit-linear-gradient(90deg, #06297e, #123d9f, #103998, #0a2f88);
    background: -o-linear-gradient(90deg, #06297e, #123d9f, #103998, #0a2f88);
    background: -moz-linear-gradient(90deg, #06297e, #123d9f, #103998, #0a2f88);
    background: linear-gradient(90deg, #06297e, #123d9f, #103998, #0a2f88);
    border-top: 2px solid;
    border-bottom: 2px solid;
    border-image: -webkit-linear-gradient(90deg, #022272, #3168e6, #022272) 30 30;
    border-image: -moz-linear-gradient(90deg, #022272, #3168e6, #022272) 30 30;
    border-image: linear-gradient(90deg, #022272, #3168e6, #022272) 30 30; }
  .el-card .chart-header-focus {
    width: 48.6%;
    height: 40px;
    text-align: center;
    left: 7px;
    top: 1px;
    position: absolute;
    background: -webkit-linear-gradient(90deg, #06297e, #123d9f, #103998, #0a2f88);
    background: -o-linear-gradient(90deg, #06297e, #123d9f, #103998, #0a2f88);
    background: -moz-linear-gradient(90deg, #06297e, #123d9f, #103998, #0a2f88);
    background: linear-gradient(90deg, #06297e, #123d9f, #103998, #0a2f88);
    border-top: 2px solid;
    border-bottom: 2px solid;
    border-image: -webkit-linear-gradient(90deg, #022272, #3168e6, #022272) 30 30;
    border-image: -moz-linear-gradient(90deg, #022272, #3168e6, #022272) 30 30;
    border-image: linear-gradient(90deg, #022272, #3168e6, #022272) 30 30; }
  .el-card .chart-header-focusQs {
    width: 98.4%;
    height: 40px;
    text-align: center;
    left: 7px;
    top: 1px;
    position: absolute;
    background: -webkit-linear-gradient(90deg, #06297e, #123d9f, #103998, #0a2f88);
    background: -o-linear-gradient(90deg, #06297e, #123d9f, #103998, #0a2f88);
    background: -moz-linear-gradient(90deg, #06297e, #123d9f, #103998, #0a2f88);
    background: linear-gradient(90deg, #06297e, #123d9f, #103998, #0a2f88);
    border-top: 2px solid;
    border-bottom: 2px solid;
    border-image: -webkit-linear-gradient(90deg, #022272, #3168e6, #022272) 30 30;
    border-image: -moz-linear-gradient(90deg, #022272, #3168e6, #022272) 30 30;
    border-image: linear-gradient(90deg, #022272, #3168e6, #022272) 30 30; }
  .el-card .chart-header-focusCy {
    width: 48.6%;
    height: 40px;
    text-align: center;
    right: 0.5%;
    top: 1px;
    position: absolute;
    background: -webkit-linear-gradient(90deg, #06297e, #123d9f, #103998, #0a2f88);
    background: -o-linear-gradient(90deg, #06297e, #123d9f, #103998, #0a2f88);
    background: -moz-linear-gradient(90deg, #06297e, #123d9f, #103998, #0a2f88);
    background: linear-gradient(90deg, #06297e, #123d9f, #103998, #0a2f88);
    border-top: 2px solid;
    border-bottom: 2px solid;
    border-image: -webkit-linear-gradient(90deg, #022272, #3168e6, #022272) 30 30;
    border-image: -moz-linear-gradient(90deg, #022272, #3168e6, #022272) 30 30;
    border-image: linear-gradient(90deg, #022272, #3168e6, #022272) 30 30; }
  .el-card .el-card__header {
    border: none;
    min-height: 45px;
    color: #fff;
    text-align: center;
    font-size: 18px;
    font-weight: 600; }
  .el-card .chart-text {
    clear: both;
    text-align: center;
    top: -13px;
    padding-left: 5px;
    position: relative; }
  .el-card .img {
    top: -9px;
    position: relative; }

/*  弹出消息框z-index */
.el-message-box__wrapper {
  z-index: 3000 !important; }

/*  弹出消息框位置 */
.el-message {
  top: 120px !important; }

/* loading 样式 */
.el-loading-mask {
  z-index: 1999 !important;
  background-color: rgba(17, 39, 76, 0.7); }

/* form 表单label字体设置 */
.el-form-item__label {
  color: #fff; }

.el-input__inner {
  background: none;
  color: #fff; }

.el-textarea__inner {
  background: none;
  color: #fff; }

/* tab header 样式 */
.el-tabs__header {
  margin: 0; }

/* tab item 字体颜色样式 */
.el-tabs__item {
  color: #fff; }

/* tab item hover 字体颜色样式 */
.el-tabs__item:hover {
  color: #ffff00; }

/*  弹出框样式 */
.el-dialog {
  background-color: rgba(36, 85, 162, 0.9); }
  .el-dialog .el-dialog__title {
    color: #fff; }
  .el-dialog .el-dialog__body {
    color: #fff; }

/* 百叶窗样式 */
.el-collapse {
  border: 1px #2b416f solid; }
  .el-collapse .el-collapse-item__header {
    background-color: rgba(36, 85, 162, 0.9);
    color: #fff;
    border-bottom: 1px solid #1D90E6; }
  .el-collapse .el-collapse-item__wrap {
    background-color: rgba(36, 85, 162, 0.9);
    color: #fff;
    border: none; }
  .el-collapse .el-collapse-item__content {
    color: #fff; }

.el-radio__label {
  color: #fff; }

.el-checkbox__label {
  color: #fff; }

/* 分页插件样式 */
.el-pagination {
  color: #fff !important; }
  .el-pagination button {
    background: none !important; }
  .el-pagination .el-pager li {
    background: none !important; }
    .el-pagination .el-pager li.active {
      background: #20a0ff !important; }
    .el-pagination .el-pager li.btn-quicknext {
      border-right: 1px solid #d1dbe5; }
    .el-pagination .el-pager li.btn-quicknext + li.number {
      display: none; }

/* table插件样式 */
/* @commons 自定义公用样式设置
----------------------------------------------------------------*/
/* 定义右侧内容样式 */
#content {
  width: 90%;
  position: absolute;
  left: 8%;
  top: 15px; }

/* 定义panel中tab切换tab按钮样式 */
.buttons .el-tabs__item.is-active {
  border-bottom: 2px solid #20a0ff; }

/* tab文章列表样式 */
.article-list-tab {
  height: 440px; }
  .article-list-tab li {
    margin: 10px 0;
    cursor: pointer; }
  .article-list-tab .article-table-head {
    padding-top: 45px;
    font-size: 18px; }
  .article-list-tab .article-focus {
    padding-top: 0; }
  .article-list-tab .table-bottom {
    height: 30px; }
    .article-list-tab .table-bottom .article-more {
      color: #fff;
      display: block;
      width: 106px;
      float: right;
      height: 30px;
      text-align: center;
      line-height: 30px;
      font-size: 14px;
      cursor: pointer; }

.article-header {
  position: absolute;
  width: 48%;
  height: 37px;
  background: -webkit-linear-gradient(90deg, #05205c, #1e79ad, #1c6698, #0b2868);
  background: -o-linear-gradient(90deg, #05205c, #1e79ad, #1c6698, #0b2868);
  background: -moz-linear-gradient(90deg, #05205c, #1e79ad, #1c6698, #0b2868);
  background: linear-gradient(90deg, #05205c, #1e79ad, #1c6698, #0b2868);
  -webkit-filter: blur(1px);
  -moz-filter: blur(1px);
  -ms-filter: blur(1px);
  filter: blur(1px); }

.article-header-width {
  position: absolute;
  width: 99.2%;
  height: 37px;
  background: -webkit-linear-gradient(90deg, #05205c, #1e79ad, #1c6698, #0b2868);
  background: -o-linear-gradient(90deg, #05205c, #1e79ad, #1c6698, #0b2868);
  background: -moz-linear-gradient(90deg, #05205c, #1e79ad, #1c6698, #0b2868);
  background: linear-gradient(90deg, #05205c, #1e79ad, #1c6698, #0b2868);
  -webkit-filter: blur(1px);
  -moz-filter: blur(1px);
  -ms-filter: blur(1px);
  filter: blur(1px); }

.article-list-header-width {
  width: 98%;
  position: absolute;
  top: 9px; }

.article-list-header {
  width: 47%;
  position: absolute;
  top: 9px; }

.article-tab-title-background, .accident-title {
  float: left;
  text-align: center;
  margin-top: -1px;
  font-size: 18px;
  font-weight: 600;
  color: #fff; }
  .article-tab-title-background .article-text, .accident-title .article-text {
    float: left;
    margin-top: 12px;
    margin-left: 5px; }

/* 共有更多文章列表样式 */
.article-list {
  padding: 0px;
  padding-top: 40px;
  list-style: none; }
  .article-list .title_news {
    padding-left: 10px;
    padding-top: 5px;
    line-height: 33px; }
  .article-list li.list-box {
    height: 25px;
    line-height: 25px;
    margin-top: 10px;
    font-size: 16px;
    cursor: pointer; }

/* 情感属性样式 */
.positive {
  color: #0092ff;
  font-size: 13px;
  border: 1px solid #0092ff;
  border-radius: 10px;
  padding: 3px; }

.negative {
  color: #d74e67;
  font-size: 13px;
  border-radius: 10px;
  border: 1px solid #d74e67;
  padding: 3px; }

.neutral {
  color: #eba954;
  font-size: 13px;
  border-radius: 10px;
  border: 1px solid #eba954;
  padding: 3px; }

/* 文章图标样式 */
.big-article-image {
  height: 60px;
  width: 60px;
  background-size: 60px 60px !important; }

.small-article-image {
  margin-top: 7px;
  height: 22px;
  width: 30px;
  background-size: 30px 22px !important; }

/* @index 首页图表样式设置
----------------------------------------------------------------*/
#emotion-chart, #media-site-chart {
  height: 360px; }

#media-type-trend-chart, #media-type-bar-chart {
  height: 318px; }

#hot-keywords-chart {
  height: 360px; }

/* @subject 专题列表样式设置
----------------------------------------------------------------*/
#subject .el-button {
  color: #fff; }
#subject .subject-list .el-table .el-table__header-wrapper thead div {
  background: -webkit-linear-gradient(90deg, #123d9f, #123d9f);
  background: -o-linear-gradient(90deg, #123d9f, #123d9f);
  background: -moz-linear-gradient(90deg, #123d9f, #123d9f);
  background: linear-gradient(90deg, #123d9f, #123d9f);
  color: #fff; }
#subject .subject-list .el-table th {
  height: 25px;
  text-align: center; }
#subject .subject-list .el-table tr {
  background: #071f47; }
  #subject .subject-list .el-table tr:hover > td {
    background: #050c37; }
#subject .subject-list .el-table td {
  height: 45px;
  color: #fff;
  border-bottom: 1px dotted #2450be; }

.el-table td, .el-table th.is-leaf {
  border-bottom: 1px solid #2d65f0; }

.subject-gl {
  float: left;
  margin-left: 6px;
  width: 200px;
  height: 50px;
  background-color: #0e64a1;
  line-height: 50px;
  font-size: 18px;
  font-weight: 600;
  text-align: left; }

.border-left-top {
  float: left;
  width: 4%;
  height: 10%;
  margin-top: -50px;
  border-top: 1px solid #fff;
  border-left: 1px solid #fff; }

.border-right-top {
  float: right;
  width: 4%;
  height: 10%;
  margin-top: -50px;
  border-top: 1px solid #fff;
  border-right: 1px solid #fff; }

.border-left-bottom {
  float: left;
  width: 4%;
  height: 10%;
  border-bottom: 1px solid #fff;
  border-left: 1px solid #fff; }

.border-right-bottom {
  float: right;
  width: 4%;
  height: 10%;
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff; }

.subject-bg {
  float: left;
  margin-left: 10px;
  width: 200px;
  height: 50px;
  background-color: #af7507;
  line-height: 50px;
  font-size: 18px;
  font-weight: 600;
  text-align: left; }

.searchButton {
  float: left;
  margin-left: 10px;
  border-radius: 19px;
  padding: 0px 4px;
  background: -webkit-linear-gradient(90deg, #47caf8, #43fcff, #46bbf7);
  background: -o-linear-gradient(90deg, #47caf8, #43fcff, #46bbf7);
  background: -moz-linear-gradient(90deg, #47caf8, #43fcff, #46bbf7);
  background: linear-gradient(90deg, #47caf8, #43fcff, #46bbf7); }
  .searchButton .search {
    border-radius: 15px;
    color: #fff;
    padding: 5px 25px;
    font-size: 16px;
    font-weight: 600;
    border: 1px solid #2695d6;
    background: -webkit-linear-gradient(90deg, #107fc9, #05c5f4, #0f81cb);
    background: -o-linear-gradient(90deg, #107fc9, #05c5f4, #0f81cb);
    background: -moz-linear-gradient(90deg, #107fc9, #05c5f4, #0f81cb);
    background: linear-gradient(90deg, #107fc9, #05c5f4, #0f81cb); }

.el-input__inner {
  height: 30px;
  border: none;
  background-color: #061242; }

/* @accident 首页图表样式设置
----------------------------------------------------------------*/
#month-day-high-accident-chart {
  height: 360px; }

#weekly-high-accident-chart {
  height: 360px; }

#industry-high-accident-chart {
  height: 360px; }

#area-high-accident-chart {
  height: 360px; }

#level-accident-chart {
  height: 360px; }

/*# sourceMappingURL=common.css.map */
