@charset "utf-8";
/**
 * @author  :   lyc
 * @created :   2017/07/14
 * @version :   v1.0
 * @desc    :   主要是定义了系统中所用背景图片的样式
 */
$base-path: '../../../src/assets/img';
.news-logo {
  background: url('#{$base-path}/newest_news.png') no-repeat;
}

.weibo-logo {
  background: url('#{$base-path}/weibo.png') no-repeat;
}

.bbs-logo {
  background: url('#{$base-path}/bbs.png') no-repeat;
}

.bar-logo {
  background: url('#{$base-path}/bar.png') no-repeat;
}

.neu-logo {
  background: url('#{$base-path}/neu.svg') no-repeat;
}

.neg-logo {
  background: url('#{$base-path}/neg.svg') no-repeat;
}

.pos-logo {
  background: url('#{$base-path}/pos.svg') no-repeat;
}

.comment-logo {
  background: url('#{$base-path}/pl.svg');
}

.accident-logo {
  background: url('#{$base-path}/accidents.svg');
}

.article-more {
  background: url('#{$base-path}/more.png') no-repeat;
}

.create-btn {
  background: url('#{$base-path}/button.png') no-repeat;
}

.emotion-logo {
  background: url('#{$base-path}/emotion.svg') no-repeat;
}

.manage-title-img {
  background: url('#{$base-path}/dzhyqbj.png') no-repeat;
}

.manage-prompt-img {
  background: url('#{$base-path}/Prompts.svg') no-repeat;
}

.positive-search {
  background: url('#{$base-path}/positive.png') no-repeat;
}

.negative-search {
  background: url('#{$base-path}/negative-t.png') no-repeat;
}

.neutral-search {
  background: url('#{$base-path}/neutral.png') no-repeat;
}

.month-height {
  background: url('#{$base-path}/monthAccident.svg') no-repeat;
}

.week-height {
  background: url('#{$base-path}/weekAccident.svg') no-repeat;
}

.industry-height {
  background: url('#{$base-path}/industryAccident.svg') no-repeat;
}

.area-height {
  background: url('#{$base-path}/areaAccident.svg') no-repeat;
}

.level-height {
  background: url('#{$base-path}/accidentLevel.svg') no-repeat;
}
