@charset "UTF-8";
/**
 * @author  :   lyc
 * @created :   2017/07/14
 * @version :   v1.0
 * @desc    :   蓝色主题
 */
/**
 * @author  :   lyc
 * @created :   2017/07/14
 * @version :   v1.0
 * @desc    :   主要是定义了系统样式的变量
 */
/* @article list 样式变量
----------------------------------------------------------------*/
/* @accident list 样式变量
----------------------------------------------------------------*/
/* 后台管理 样式变量
----------------------------------------------------------------*/
/* 生成报告 样式变量
----------------------------------------------------------------*/
/* 详情评论 样式变量
----------------------------------------------------------------*/
/**
 * @author  :   lyc
 * @created :   2017/07/14
 * @version :   v1.0
 * @desc    :   系统共有css文件,主要定义了系统背景颜色，默认element ui 相关样式，公用文章列表样式
 */
/* @body 页面设置
----------------------------------------------------------------*/
body {
  background-color: #071f47;
  margin: 0 auto;
  overflow-x: hidden;
  color: #fff;
  font-family: 微软雅黑; }

.iconfont {
  color: #fff; }

/* @element-ui 样式设置
----------------------------------------------------------------*/
.el-row {
  margin-bottom: 0px; }
  .el-row:last-child {
    margin-bottom: 0; }

/* Let's get this party started */
::-webkit-scrollbar {
  width: 0px;
  height: 5px; }

/* Track */
/* 滚动条的滑轨 */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.7);
  -webkit-border-radius: 10px;
  border-radius: 10px; }

/* Handle */
/* 滑块 */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #04356f;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5); }

/*窗口失去焦点时候滚动条颜色*/
::-webkit-scrollbar-thumb:window-inactive {
  background: #04356f; }

::-webkit-scrollbar-button {
  background-color: #061242; }

/* 滑轨两头的监听按钮颜色 */
::-webkit-scrollbar-corner {
  background-color: #061242; }

/* 横向滚动条和纵向滚动条相交处尖角的颜色 */
/* 设置默认的card style */
.el-card {
  border: none;
  border-radius: 5px;
  background: #071f47;
  margin-bottom: 15px; }
  .el-card .el-card__header {
    padding: 0;
    border: none;
    min-height: 45px;
    color: #fff;
    background: #2455a2;
    text-align: center;
    font-size: 18px;
    font-weight: 600; }
    .el-card .el-card__header .chart-header {
      height: 45px;
      line-height: 45px;
      text-align: center; }
      .el-card .el-card__header .chart-header .img {
        position: relative;
        top: 5px; }
      .el-card .el-card__header .chart-header .chart-text {
        clear: both;
        text-align: center;
        padding-left: 5px;
        position: relative; }

/*  弹出消息框z-index */
.el-message-box__wrapper {
  z-index: 3000 !important; }

/*  弹出消息框位置 */
.el-message {
  top: 120px !important; }

/* loading 样式 */
.el-loading-mask {
  z-index: 1999 !important;
  background-color: rgba(17, 39, 76, 0.7); }

/* form 表单label字体设置 */
.el-form-item__label {
  color: #fff; }

.el-input__inner {
  height: 36px;
  background: #061242;
  color: #fff;
  border: none; }

.el-textarea__inner {
  background: #061242;
  color: #fff;
  border: none; }

/* tab header 样式 */
.el-tabs__header {
  margin-bottom: 10px; }

/* tab item 字体颜色样式 */
.el-tabs__item {
  color: #fff; }

/* tab item hover 字体颜色样式 */
.el-tabs__item:hover {
  color: #ffff00; }

/*  弹出框样式 */
.el-dialog {
  background-color: rgba(36, 85, 162, 0.9); }
  .el-dialog .el-dialog__title {
    color: #fff; }
  .el-dialog .el-dialog__body {
    color: #fff; }

/* 百叶窗样式 */
.el-collapse {
  border: none;
  background: none;
  margin-bottom: 10px; }
  .el-collapse .el-collapse-item__header {
    color: #fff;
    height: 30px;
    line-height: 30px;
    padding-left: 90%;
    padding-right: 10px;
    background: none !important;
    border-bottom: none; }
  .el-collapse .el-collapse-item__wrap {
    background-color: #04356f;
    color: #fff;
    border: 1px solid #1D90E6;
    border-radius: 5px; }
  .el-collapse .el-collapse-item__content {
    color: #fff;
    padding-top: 0px;
    padding-bottom: 0px; }

.el-radio__label {
  color: #fff; }

.el-checkbox__label {
  color: #fff; }

/* 分页插件样式 */
.el-pagination {
  color: #fff !important;
  margin: 5px auto !important; }
  .el-pagination button {
    background: none !important; }
  .el-pagination .el-pager li {
    background: none !important; }
    .el-pagination .el-pager li.active {
      background: #20a0ff !important; }
    .el-pagination .el-pager li.btn-quicknext {
      border-right: 1px solid #d1dbe5; }
    .el-pagination .el-pager li.btn-quicknext + li.number {
      display: none; }

/* @commons 自定义公用样式设置
----------------------------------------------------------------*/
.container .header {
  background-color: #051242;
  border-bottom: 1px solid #0f2a8d; }
  .container .header .header-text {
    color: #ffffff; }
  .container .header .userName {
    color: #fff !important; }
  .container .header .dropMenu {
    color: #fff !important; }
  .container .header .signOut .el-input__inner {
    background: #2455a2; }
.container .menu-expanded .iconfont, .container .menu-collapsed .iconfont {
  color: #ffffff !important;
  font-size: 18px; }
.container .menu-expanded .collapsed .iconfont, .container .menu-collapsed .collapsed .iconfont {
  margin-left: -5px; }
.container aside {
  background: #051242; }
  .container aside .el-menu {
    background-color: #051242; }
.container .menu-toggle {
  background: #051242;
  border-bottom: 1px solid #0f2a8d;
  color: #ffffff; }
.container .el-menu-item, .container .el-submenu__title, .container .el-submenu {
  color: #ffffff;
  border-bottom: 1px solid #0f2a8d; }
.container .el-menu-item:hover, .container .el-submenu__title:hover, .container .el-submenu:hover, .container .el-submenu .el-menu-item:hover {
  background-color: #2455a2;
  color: #ffffff; }
.container .el-submenu .el-menu-item {
  background-color: #1a2e76;
  color: #ffffff; }
.container #nav_menu .is-active {
  background-color: #2455a2 !important;
  color: #ffffff; }
.container .el-autocomplete-suggestion.is-loading li:hover, .container .el-dropdown-menu {
  background-color: #0f2a8d !important; }
.container .el-dropdown-menu {
  color: #fff; }
.container .el-dropdown-menu__item:not(.is-disabled):hover {
  background-color: #000; }

#exit-menu {
  color: #fff;
  background-color: #051242;
  border: 1px solid #04356f; }
  #exit-menu .el-autocomplete-suggestion.is-loading li:hover, #exit-menu .el-dropdown-menu {
    background-color: #123D9F; }
  #exit-menu .el-dropdown-menu__item:not(.is-disabled):hover {
    background-color: #123D9F;
    color: #fff; }
  #exit-menu .psd_span {
    display: inline-block;
    width: 80%;
    padding: 0 10px; }
  #exit-menu .exit_a {
    text-decoration: none;
    display: inline-block;
    width: 80%;
    padding: 0 10px; }

/* 定义panel中tab切换tab按钮样式 */
.buttons .el-tabs__item.is-active {
  border-bottom: 2px solid #20a0ff; }

/* tab文章列表样式 */
.article-list-tab {
  height: 440px; }
  .article-list-tab .article-list-header {
    line-height: 43px; }
    .article-list-tab .article-list-header .article-tab-title-background {
      float: left;
      text-align: center;
      margin-top: -1px;
      font-size: 18px;
      font-weight: 600;
      color: #fff; }
      .article-list-tab .article-list-header .article-tab-title-background .article-text {
        float: left;
        margin-top: 12px;
        margin-left: 5px; }
    .article-list-tab .article-list-header .sort-btn {
      height: 43px;
      float: right; }
      .article-list-tab .article-list-header .sort-btn .el-button {
        background: none;
        border: none;
        color: #fff; }
        .article-list-tab .article-list-header .sort-btn .el-button.active {
          border: 1px solid #2d66f3;
          background: none;
          color: #fff; }
  .article-list-tab .article-table-head {
    font-size: 18px; }
  .article-list-tab .sortText {
    color: #ffffff !important;
    width: 22px;
    display: inline-block;
    font-weight: 600;
    margin-top: 6px; }
  .article-list-tab .docTotal {
    line-height: 33px; }
  .article-list-tab .pubTime {
    line-height: 33px; }
  .article-list-tab .first {
    background: #F54545; }
  .article-list-tab .second {
    background: #FF8547; }
  .article-list-tab .third {
    background: #FFAC38; }
  .article-list-tab .other {
    background: #8EB9F5; }
  .article-list-tab .article-focus {
    padding-top: 0; }
  .article-list-tab .article-list {
    padding: 0;
    list-style: none; }
    .article-list-tab .article-list li {
      margin: 15px 0;
      cursor: pointer; }
  .article-list-tab .table-bottom {
    height: 30px; }
    .article-list-tab .table-bottom .article-more {
      color: #fff;
      padding: 0;
      display: block;
      width: 106px;
      float: right;
      height: 30px;
      text-align: center;
      line-height: 30px;
      font-size: 14px;
      cursor: pointer; }

.article-header {
  position: absolute;
  width: 48%;
  height: 37px;
  background: -webkit-linear-gradient(90deg, #05205c, #1e79ad, #1c6698, #0b2868);
  background: -o-linear-gradient(90deg, #05205c, #1e79ad, #1c6698, #0b2868);
  background: -moz-linear-gradient(90deg, #05205c, #1e79ad, #1c6698, #0b2868);
  background: linear-gradient(90deg, #05205c, #1e79ad, #1c6698, #0b2868);
  -webkit-filter: blur(1px);
  -moz-filter: blur(1px);
  -ms-filter: blur(1px);
  filter: blur(1px); }

.article-header-width {
  position: absolute;
  width: 99.2%;
  height: 37px;
  background: -webkit-linear-gradient(90deg, #05205c, #1e79ad, #1c6698, #0b2868);
  background: -o-linear-gradient(90deg, #05205c, #1e79ad, #1c6698, #0b2868);
  background: -moz-linear-gradient(90deg, #05205c, #1e79ad, #1c6698, #0b2868);
  background: linear-gradient(90deg, #05205c, #1e79ad, #1c6698, #0b2868);
  -webkit-filter: blur(1px);
  -moz-filter: blur(1px);
  -ms-filter: blur(1px);
  filter: blur(1px); }

/* 情感属性样式 */
.positive {
  color: #0092ff;
  font-size: 13px;
  border: 1px solid #0092ff;
  border-radius: 10px;
  padding: 3px; }

.negative {
  color: #d74e67;
  font-size: 13px;
  border-radius: 10px;
  border: 1px solid #d74e67;
  padding: 3px; }

.neutral {
  color: #eba954;
  font-size: 13px;
  border-radius: 10px;
  border: 1px solid #eba954;
  padding: 3px; }

.type-logo {
  display: inline-block;
  width: 20px; }

.input-search {
  float: left;
  width: 450px; }
  .input-search input {
    border: none !important; }

.btn-search {
  float: right;
  margin-right: -11px;
  height: 38px;
  background-color: #2984dd;
  border: none;
  border-radius: 0px 15px 15px 0px;
  margin-top: -1px; }
  .btn-search .el-icon-search {
    color: #fff; }

.search-body {
  margin-top: 1px; }

.box-card {
  border: 1px solid #1D90E6; }

.search-html {
  height: 40px;
  border: 2px solid #009fe9;
  border-radius: 15px;
  background-color: #061242;
  margin-bottom: 20px; }

.el-input input {
  border: none; }

.srarch-screen {
  margin-left: -10px;
  margin-right: -10px;
  border-bottom: 1px solid #1e4080; }
  .srarch-screen .all {
    float: left; }
  .srarch-screen .single {
    float: left;
    margin-left: 10px; }

.srarch-screen-noborder {
  margin-left: -10px;
  margin-right: -10px; }

.positive-search {
  float: right;
  width: 123px;
  text-align: center;
  color: #fff;
  height: 57px;
  margin-right: -11px; }
  .positive-search span {
    font-size: 14px;
    font-weight: 600;
    padding-left: 50%; }

.negative-search {
  float: right;
  width: 123px;
  text-align: center;
  color: #fff;
  height: 57px;
  margin-right: -11px; }
  .negative-search span {
    font-size: 14px;
    font-weight: 600;
    padding-left: 50%; }

.neutral-search {
  float: right;
  width: 123px;
  color: #fff;
  text-align: center;
  height: 57px;
  margin-right: -11px; }
  .neutral-search span {
    font-size: 14px;
    font-weight: 600;
    padding-left: 50%; }

.search-param {
  background-color: #04356f; }

.article-bottom {
  background-color: #04356f;
  color: #fff; }

.title:hover {
  color: #FF7F27; }

#article .el-card__body {
  padding-top: 0 !important;
  padding-left: 40px !important;
  padding-right: 40px !important; }

#current .el-card__body {
  padding-top: 0 !important; }

#article-list .el-card__body {
  padding-top: 0 !important;
  padding-left: 40px !important;
  padding-right: 40px !important; }

.checkbox {
  heigth: 55px;
  line-height: 55px;
  padding-left: 10px; }

.list-box {
  border: 1px solid #1D90E6;
  margin-top: 10px;
  padding: 0 10px 10px 10px; }

/* 文章图标样式 */
.big-article-image {
  font-size: 60px; }

.small-article-image {
  height: 26px;
  width: 26px;
  background-size: cover !important; }

/* @index 首页图表样式设置
----------------------------------------------------------------*/
#emotion-chart, #media-site-chart {
  height: 360px; }

#media-type-trend-chart, #media-type-bar-chart {
  height: 360px; }

#hot-keywords-chart {
  height: 360px; }

/* @monitor 实时监测
----------------------------------------------------------------*/
#emotion-pie {
  height: 360px; }

#netizen-options {
  height: 360px; }

#keywords-chart-id {
  height: 360px; }

#netizen-map {
  height: 360px; }

#netizen-consensus-bar {
  height: 360px; }

#accident-report-bar {
  height: 360px; }

#media-report-trend-bar {
  height: 360px; }

#media-bar-chart {
  height: 360px; }

#media-article-type-pie {
  height: 360px;
  position: relative; }

.subject-header, .detail-title {
  height: 45px;
  background: #04356f;
  font: 600 18px/45px '微软雅黑';
  text-align: left; }

.detail-title {
  padding-left: 15px;
  margin-bottom: 10px; }

.text {
  font-size: 14px; }

.subjectName {
  margin-left: 20px; }

.all-type {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -100px;
  margin-top: -100px;
  width: 200px;
  height: 200px;
  background: #2C81C3;
  border-radius: 50%;
  line-height: 200px;
  cursor: pointer; }

.all-type p {
  line-height: 30px;
  font-size: 22px;
  font-weight: 600;
  color: #FFFFFF; }

.all-type p:first-child {
  margin-top: 0;
  padding-top: 80px; }

.type0, .type1, .type2, .type3 {
  display: inline-block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  color: #FFFFFF;
  background: #2C81C3;
  cursor: pointer; }

.type0 p, .type1 p, .type2 p, .type3 p {
  line-height: 20px;
  margin-top: 0;
  margin-bottom: 0; }

.type0 p:first-child, .type1 p:first-child, .type2 p:first-child, .type3 p:first-child {
  padding-top: 20px; }

.type0 {
  margin-top: -165px;
  margin-left: -180px; }

.type1 {
  margin-top: -165px;
  margin-left: 80px; }

.type2 {
  margin-top: 65px;
  margin-left: 80px; }

.type3 {
  margin-top: 65px;
  margin-left: -180px; }

.line-height-40 {
  line-height: 40px; }

.border-b {
  border-bottom: 1px dashed #666; }

.checked-option {
  display: inline; }

.searchInput {
  display: inline-block;
  width: 400px; }
  .searchInput .el-input-group__append {
    background: #04356f;
    border: 1px solid #1D90E6; }

/* @ el-table共用样式设置开始
----------------------------------------------------------------*/
.el-table {
  background: none;
  border: 1px solid #2d65f0; }
  .el-table .el-table__footer-wrapper thead div, .el-table .el-table__header-wrapper thead div {
    background-color: #123D9F;
    color: #fff; }
  .el-table tr {
    background-color: #071f47;
    color: #fff;
    text-align: center; }
  .el-table th {
    background-color: #123D9F;
    text-align: center; }
  .el-table thead td, .el-table thead th.is-leaf {
    border-right: 0;
    border-bottom: 1px solid #2d65f0; }
  .el-table tbody td, .el-table tbody th.is-leaf {
    border: none;
    border-right: 0;
    border-bottom: 1px dotted #2450be; }
  .el-table .el-input input {
    border: none; }
  .el-table .el-table--enable-row-hover, .el-table .el-table__body tr:hover > td {
    background-color: #061242; }
  .el-table .el-table__body tr.current-row > td {
    background: #123D9F; }

.el-table::after, .el-table::before {
  background-color: transparent; }

.el-input input {
  border: none; }

.el-input__inner {
  background-color: #061242; }

/* @ el-table共用样式设置结束*/
.search-box {
  border: 1px solid #1D90E6;
  margin-bottom: 15px; }

#current {
  border: 1px solid #1D90E6;
  padding: 3px; }

.text {
  margin-left: 15px; }

/* @subject 专题列表样式设置
----------------------------------------------------------------*/
#subject .el-button {
  color: #fff; }
#subject .el-dialog {
  background-color: rgba(36, 85, 162, 0.9); }
#subject .el-form-item {
  margin-bottom: 20px !important; }

.subject-gl {
  float: left;
  margin-left: 6px;
  width: 200px;
  height: 50px;
  background-color: #0e64a1;
  line-height: 50px;
  font-size: 18px;
  font-weight: 600;
  text-align: left;
  color: #fff; }

.border-left-top {
  float: left;
  width: 4%;
  height: 10%;
  margin-top: -50px;
  border-top: 1px solid #fff;
  border-left: 1px solid #fff; }

.border-right-top {
  float: right;
  width: 4%;
  height: 10%;
  margin-top: -50px;
  border-top: 1px solid #fff;
  border-right: 1px solid #fff; }

.border-left-bottom {
  float: left;
  width: 4%;
  height: 10%;
  border-bottom: 1px solid #fff;
  border-left: 1px solid #fff; }

.border-right-bottom {
  float: right;
  width: 4%;
  height: 10%;
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff; }

.subject-bg {
  float: left;
  margin-left: 10px;
  width: 200px;
  height: 50px;
  background-color: #af7507;
  line-height: 50px;
  font-size: 18px;
  font-weight: 600;
  text-align: left;
  color: #fff; }

.searchButton {
  float: left;
  margin-left: 10px;
  border-radius: 19px;
  padding: 0px 4px;
  background: -webkit-linear-gradient(90deg, #47caf8, #43fcff, #46bbf7);
  background: -o-linear-gradient(90deg, #47caf8, #43fcff, #46bbf7);
  background: -moz-linear-gradient(90deg, #47caf8, #43fcff, #46bbf7);
  background: linear-gradient(90deg, #47caf8, #43fcff, #46bbf7); }
  .searchButton .search {
    border-radius: 15px;
    color: #fff;
    padding: 5px 25px;
    font-size: 16px;
    font-weight: 600;
    border: 1px solid #2695d6;
    background: -webkit-linear-gradient(90deg, #107fc9, #05c5f4, #0f81cb);
    background: -o-linear-gradient(90deg, #107fc9, #05c5f4, #0f81cb);
    background: -moz-linear-gradient(90deg, #107fc9, #05c5f4, #0f81cb);
    background: linear-gradient(90deg, #107fc9, #05c5f4, #0f81cb); }

/* @accident 首页图表样式设置
----------------------------------------------------------------*/
#month-day-high-accident-chart {
  height: 360px; }

#weekly-high-accident-chart {
  height: 360px; }

#industry-high-accident-chart {
  height: 360px; }

#area-high-accident-chart {
  height: 360px; }

#level-accident-chart {
  height: 360px; }

#accident .article-list .zdsg-list {
  color: #fff;
  border: 1px solid #009FE9; }
#accident .article-list .border-left-top {
  border-top: 5px solid #009FE9;
  border-left: 5px solid #009FE9; }
#accident .article-list .border-right-top {
  border-top: 5px solid #009FE9;
  border-right: 5px solid #009FE9; }
#accident .article-list .border-left-bottom {
  border-left: 5px solid #009FE9;
  border-bottom: 5px solid #009FE9; }
#accident .article-list .border-right-bottom {
  border-right: 5px solid #009FE9;
  border-bottom: 5px solid #009FE9; }

/* @舆情预警样式设置
----------------------------------------------------------------*/
#warning .el-table__body-wrapper {
  background: #04356f; }
#warning .el-card {
  border: none;
  background: none; }
#warning .el-card__body {
  padding: 0; }
#warning .el-form {
  margin-top: 0px; }
#warning .el-button {
  border: none;
  color: #1f2d3d;
  padding: 4px 5px; }
#warning .search-btn {
  padding: 10px 15px;
  color: #fff; }
#warning .el-table--border td, #warning .el-table--border th {
  border-right: none; }
#warning .el-table th {
  height: 25px; }
#warning .el-table .el-table__row {
  background: #071f47; }
  #warning .el-table .el-table__row:hover > td {
    background: #050c37; }
#warning .el-table td {
  height: 45px;
  color: #fff;
  border-bottom: 1px dotted #2450be; }
#warning .el-table thead td, #warning .el-table thead th.is-leaf {
  border-bottom: 1px solid #2d65f0; }
#warning .el-table tbody td, #warning .el-table tbody th.is-leaf {
  border: none;
  border-bottom: 1px dotted #2450be; }
#warning .el-table::after, #warning .el-table::before {
  background-color: transparent; }
#warning .see {
  background-color: #2d65f0;
  color: #fff;
  border: none; }
#warning .delete {
  background-color: #d0300b;
  color: #fff;
  border: none; }

/* @ 后台管理样式设置
----------------------------------------------------------------*/
#keywords .switchNo, #keywords .opearBtn, #accident-keywords .switchNo, #accident-keywords .opearBtn, #focus-keywords .switchNo, #focus-keywords .opearBtn, #leader-keywords .switchNo, #leader-keywords .opearBtn, #industry-keywords .switchNo, #industry-keywords .opearBtn {
  text-align: left; }
#keywords .red, #accident-keywords .red, #focus-keywords .red, #leader-keywords .red, #industry-keywords .red {
  color: #f7ba2a;
  font-weight: 600;
  font-size: 20px; }
#keywords .green, #accident-keywords .green, #focus-keywords .green, #leader-keywords .green, #industry-keywords .green {
  color: #13ce66;
  font-weight: 600;
  font-size: 20px; }
#keywords .open, #accident-keywords .open, #focus-keywords .open, #leader-keywords .open, #industry-keywords .open {
  position: fixed;
  width: 70%;
  top: 23%;
  left: 20%;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 18px;
  line-height: 40px;
  background-color: #f8f9fb;
  border-radius: 8px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12), 0 0 6px 0 rgba(0, 0, 0, 0.04);
  margin: 0 auto;
  height: 500px;
  z-index: 99999;
  color: #000;
  font-family: 微软雅黑;
  text-align: left; }
#keywords .colse, #accident-keywords .colse, #focus-keywords .colse, #leader-keywords .colse, #industry-keywords .colse {
  float: right;
  color: #666; }
#keywords .prompt, #accident-keywords .prompt, #focus-keywords .prompt, #leader-keywords .prompt, #industry-keywords .prompt {
  float: right;
  margin-right: 14%;
  height: 20px;
  width: 20px;
  background-size: 20px 20px !important; }
#keywords .el-textarea.is-disabled .el-textarea__inner, #accident-keywords .el-textarea.is-disabled .el-textarea__inner, #focus-keywords .el-textarea.is-disabled .el-textarea__inner, #leader-keywords .el-textarea.is-disabled .el-textarea__inner, #industry-keywords .el-textarea.is-disabled .el-textarea__inner {
  background-color: #061242; }
#keywords .el-dialog, #accident-keywords .el-dialog, #focus-keywords .el-dialog, #leader-keywords .el-dialog, #industry-keywords .el-dialog {
  background: rgba(36, 85, 162, 0.9); }
#keywords .help, #accident-keywords .help, #focus-keywords .help, #leader-keywords .help, #industry-keywords .help {
  float: right;
  text-align: center; }

.pTitle {
  font-size: 18px;
  font-weight: 600;
  font-family: "微软雅黑";
  color: #fff;
  text-align: center;
  line-height: 45px;
  width: 191px;
  height: 55px; }

#monthly-report .model, #weekly-report .model {
  padding: 20px; }
  #monthly-report .model .off .el-form-item__content, #weekly-report .model .off .el-form-item__content {
    text-align: left; }

#contacts .page {
  position: absolute;
  left: 50%;
  clear: both;
  z-index: 999; }
#contacts .el-card {
  border: none;
  background: none; }
#contacts .el-input__inner {
  height: 30px;
  border: none;
  background-color: #061242; }
#contacts .el-card__body {
  padding: 0; }
#contacts .el-form {
  float: left;
  margin-top: 0; }
#contacts .el-table--border td,
#contacts .el-table--border th {
  border-right: none; }
#contacts .modify {
  background-color: #af7507;
  color: #fff;
  border: none; }
#contacts .delete {
  background-color: #d0300b;
  color: #fff;
  border: none; }
#contacts .el-dialog {
  background-color: rgba(36, 85, 162, 0.9);
  height: 50%; }
  #contacts .el-dialog .dialog-footer {
    position: absolute;
    right: 30px;
    bottom: 20px; }
#contacts .el-input__inner {
  background-color: #061242; }
#contacts .el-input input {
  border: none;
  height: 35px; }
#contacts .el-form-item {
  margin-bottom: 25px !important; }
  #contacts .el-form-item .el-form-item__content {
    width: 100%; }

#contacts .el-table .el-table--enable-row-hover, #contacts .el-table .el-table__body tr:hover > td {
  background-color: #061242; }

/* @ 报告详情页面
----------------------------------------------------------------*/
#report-detail {
  text-align: left; }
  #report-detail .report-header {
    text-align: center;
    border-bottom: 5px solid #ff0000;
    font-size: 20px;
    min-height: 190px;
    width: 90%;
    margin: 0 auto; }
    #report-detail .report-header .content-save {
      height: 38px;
      line-height: 38px;
      padding: 0 10px;
      text-align: left;
      color: #fff;
      font-size: 20px;
      font-weight: 700;
      opacity: 0.8; }
    #report-detail .report-header .title {
      color: #ff0000;
      font-size: 50px;
      line-height: 78px;
      width: 100%;
      min-height: 110px;
      margin: auto; }
      #report-detail .report-header .title .subTitle {
        color: #ff0000;
        font-size: 50px;
        width: 100%;
        margin: auto; }
    #report-detail .report-header .report-info {
      height: 38px;
      line-height: 38px; }
      #report-detail .report-header .report-info .organization {
        padding: 0 10px;
        text-align: left;
        float: left; }
      #report-detail .report-header .report-info .period {
        text-align: center;
        color: #ff0000; }
      #report-detail .report-header .report-info .createTime {
        padding: 0 10px;
        text-align: right;
        float: right; }
  #report-detail .el-table th > .cell {
    text-align: center; }
  #report-detail .report-content {
    padding: 10px 80px; }
    #report-detail .report-content .outline {
      border: 1px solid #7DB5EE;
      -webkit-box-shadow: 0 0 10px #1D90E6;
      -moz-box-shadow: 0 0 10px #1D90E6;
      box-shadow: 0 0 10px #1D90E6;
      border-radius: 5px;
      font-size: 20px;
      min-height: 50px;
      margin: 20px;
      padding: 10px 30px;
      line-height: 50px;
      font-weight: 600; }
      #report-detail .report-content .outline div {
        display: inline-block; }
      #report-detail .report-content .outline .listNum {
        color: #EB7E23;
        font-size: 24px; }
      #report-detail .report-content .outline .percent {
        color: #7BDF86;
        font-size: 24px; }
    #report-detail .report-content .title.level-one {
      color: #fff;
      font-size: 26px;
      line-height: 78px; }
    #report-detail .report-content .title.level-two {
      color: #fff;
      font-size: 18px;
      line-height: 50px; }
    #report-detail .report-content .title.level-three {
      color: #fff;
      font-size: 16px;
      line-height: 40px; }
    #report-detail .report-content .describe-text {
      text-indent: 2em;
      color: #fff;
      font-size: 18px;
      font-weight: 600;
      line-height: 36px; }
      #report-detail .report-content .describe-text .describe-redText {
        color: #eb7e23;
        font-size: 24px; }
      #report-detail .report-content .describe-text .article-title {
        text-align: center;
        font-size: 24px;
        margin-top: 10px; }
      #report-detail .report-content .describe-text .article-item {
        text-align: center; }
      #report-detail .report-content .describe-text .article-source, #report-detail .report-content .describe-text .article-pubTime {
        display: inline-block;
        color: #ccc;
        text-align: center;
        font-family: "FangSong_GB2312"; }
      #report-detail .report-content .describe-text .article-link {
        color: #ccc;
        text-align: center;
        font-family: "FangSong_GB2312"; }
      #report-detail .report-content .describe-text .article-content {
        font-family: "FangSong_GB2312";
        text-align: left; }
    #report-detail .report-content #article-type-pie-chart {
      margin: auto;
      width: 100%;
      height: 400px; }
    #report-detail .report-content #news-emotion-pie-chart {
      margin: auto;
      width: 100%;
      height: 400px; }
    #report-detail .report-content #accident-area-chart {
      margin: auto;
      width: 100%;
      height: 400px; }
    #report-detail .report-content #media-bar-chart {
      margin: auto;
      width: 100%;
      height: 400px; }
    #report-detail .report-content #article-trend-chart {
      margin: auto;
      width: 100%;
      height: 400px; }
    #report-detail .report-content #news-hot-point {
      margin: auto;
      width: 100%;
      height: 400px; }
    #report-detail .report-content #month-accident-bar-chart {
      margin: auto;
      width: 100%;
      height: 400px; }
    #report-detail .report-content #accident-type-pie-chart {
      margin: auto;
      width: 100%;
      height: 400px; }
    #report-detail .report-content #accident-map-chart {
      margin: auto;
      width: 100%;
      height: 500px; }
    #report-detail .report-content #comment-pie-chart {
      margin: auto;
      width: 100%;
      height: 600px; }
    #report-detail .report-content #hot-keywords-chart {
      margin: auto;
      width: 400px;
      height: 300px; }
    #report-detail .report-content #comment-keywords-chart {
      margin: auto;
      width: 400px;
      height: 300px; }
    #report-detail .report-content #hot-author-bar-chart {
      margin: auto;
      width: 100%;
      height: 400px; }
    #report-detail .report-content #focus-people-map-chart {
      margin: auto;
      width: 100%;
      height: 400px; }

/* @ 文章详情页面
----------------------------------------------------------------*/
#detail .title {
  color: #fff; }
#detail #comment .box-card {
  background: #071f69; }

/* @ 热议微博
----------------------------------------------------------------*/
#weiboProportionChart {
  width: 100%;
  height: 360px; }

#mapregionDistributionChart {
  width: 100%;
  height: 360px; }

#regionDistributionChart {
  width: 100%;
  height: 360px; }

#publishingEquipmentChart {
  width: 100%;
  height: 360px; }

#weiboAuthenticationChart {
  width: 100%;
  height: 360px; }

#genderProportionChart {
  width: 100%;
  height: 360px; }

#ageDistributionChart {
  width: 100%;
  height: 360px; }

.gender {
  float: left;
  height: 40px;
  width: 40px;
  background-size: 40px 40px !important;
  margin-top: 100%; }

.gendermale {
  float: left;
  height: 40px;
  width: 40px;
  background-size: 40px 40px !important;
  margin-top: 30%; }

.gender-img {
  background: url("../../src/assets/img/female.svg") no-repeat; }

.gendermale-img {
  background: url("../../src/assets/img/male.svg") no-repeat; }

.gender-fb {
  float: left;
  color: #ff733f;
  margin-top: 80%;
  font-weight: 600; }

.gendermale-fb {
  float: left;
  color: #4baae4;
  margin-top: 10%;
  font-weight: 600; }

.gender-text {
  font-size: 18px; }

.hot-new {
  margin-left: 3%;
  margin-top: 15px;
  height: 240px;
  border: 1px solid #ccc;
  -moz-box-shadow: -2px -2px 2px #cdcfd0 inset;
  -webkit-box-shadow: -2px -2px 2px #cdcfd0 inset;
  box-shadow: -2px -2px 2px #cdcfd0 inset; }

.hot-news {
  margin-left: 1.3%;
  height: 230px;
  border: 1px solid #ccc;
  -moz-box-shadow: -2px -2px 2px #cdcfd0 inset;
  -webkit-box-shadow: -2px -2px 2px #cdcfd0 inset;
  box-shadow: -2px -2px 2px #cdcfd0 inset; }
  .hot-news p {
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
    color: #666;
    line-height: 20px; }

.hot_text p {
  width: 96%;
  text-align: left;
  color: #666;
  padding-left: 10px;
  line-height: 23px; }

.title_bt {
  font-weight: 600; }

.bottom-text {
  float: left;
  width: 95%;
  margin-right: 10px;
  padding: 5px;
  margin-top: -20px;
  background-color: #ede9e9;
  font-size: 14px; }

/* @ 词库管理
----------------------------------------------------------------*/
.text-list li {
  color: #fff; }

.ztree li a {
  color: #fff; }

.ztree li a.curSelectedNode {
  color: #fff; }

/* @ 综合检测
----------------------------------------------------------------*/
.leader-header {
  float: left;
  width: 100%;
  background: #1b6cc2;
  height: 40px; }
  .leader-header li {
    width: 15%;
    margin-left: 10px;
    line-height: 40px;
    color: #ffffff;
    float: left;
    list-style-type: none; }

.v-modal {
  z-index: 0 !important; }

#areaWarning {
  height: 360px; }

/*# sourceMappingURL=theme-blue.css.map */
